{% extends 'base_blog.html.twig' %}

{% block title %}Blog
{% endblock %}

{% block content %}

	<div class="container my-5">
		<div class="row g-4">

			{% for post in posts %}
				<div class="col-md-4">
					<div class="card h-100 shadow-sm border-0">
						<div class="card-body">
							<h5 class="card-title">{{ post.title }}</h5>
							<p class="card-text text-muted">{{ post.text }}</p>
							<a href="#" class="btn btn-outline-primary btn-sm">Ler mais</a>
						</div>
					</div>
				</div>
			{% endfor %}

		</div>
	</div>

{% endblock %}
