{% extends 'base_blog.html.twig' %}

{% block title %}Blog
{% endblock %}

{% block content %}

	<div class="container my-5">

	{% if search is defined %}
	<h3>Resultados para: <strong>{{ search }}</strong></h3>

	{% if posts == null %}
		<h4 class="text-center fw-bold"> Nenhum resultado para essa pesquisa</h4>
	{% endif %}
	
	{% endif %}

		<div class="row g-4">

			{% for post in posts %}
				<div class="col-md-4">
					<div class="card h-100 shadow-sm border-0">
						<div class="card-body">
							<h5 class="card-title">{{ post.title }}</h5>
							<p class="card-text text-muted">{{ post.text|slice(0, 90) ~ '...' }}</p>
							<a href="{{ path('app_post', { 'slug': post.slug }) }}" class="btn btn-outline-primary btn-sm">Ler mais</a>
						</div>
					</div>
				</div>
			{% endfor %}

		</div>
	</div>

{% endblock %}
