<footer class="bg-dark text-center text-lg-start mt-5">
  <div class="text-center p-3 text-white" style="background-color: rgba(0, 0, 0, 0.05);">
    © {{ 'now'|date('Y') }} Copyright 
    <a class="text-white text-decoration-none" href="{{ path('app_home') }}">blog.com.br</a>
  </div>
  <div>
  <a class="text-white" href="{{path('app_login')}}">Login</a>
  </div>
</footer>